<% provide(:title, 'Home') %>
<div class="col-md-4">
    <p><b><%= t('navigator.index.question_one') %></b></p>
    <p><%= t('navigator.index.answer_one') %></p>
    <p><b><%= t('navigator.index.question_two') %></b></p>
    <p><%= t('navigator.index.answer_two') %></p>
    <p><b><%= t('navigator.index.question_three') %></b></p>
    <p><%= t('navigator.index.answer_three') %></p>
</div>

<div class="col-md-4">
    <%= image_tag("oficina_vault.jpg", class: "img-responsive", :alt => "Working") %> 
</div>

<div class="col-md-4">
    <a class="twitter-timeline" href="https://twitter.com/IRSnews?ref_src=twsrc%5Etfw">Tweets by IRSnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>