<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Born on:</strong>
  <%= @client.born_on %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @client.occupation %>
</p>

<p>
  <strong>Line1:</strong>
  <%= @client.line1 %>
</p>

<p>
  <strong>Line2:</strong>
  <%= @client.line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Primary social:</strong>
  <%= @client.primary_social %>
</p>

<p>
  <strong>Spouse social:</strong>
  <%= @client.spouse_social %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @client.spouse_name %>
</p>

<p>
  <strong>Spouse born on:</strong>
  <%= @client.spouse_born_on %>
</p>

<p>
  <strong>Spouse occupation:</strong>
  <%= @client.spouse_occupation %>
</p>

<p>
  <strong>You dependent:</strong>
  <%= @client.you_dependent %>
</p>

<p>
  <strong>Support:</strong>
  <%= @client.support %>
</p>

<p>
  <strong>Dependent1 name:</strong>
  <%= @client.dependent1_name %>
</p>

<p>
  <strong>Dependent1 born on:</strong>
  <%= @client.dependent1_born_on %>
</p>

<p>
  <strong>Dependent1 social:</strong>
  <%= @client.dependent1_social %>
</p>

<p>
  <strong>Dependent1 relationship:</strong>
  <%= @client.dependent1_relationship %>
</p>

<p>
  <strong>Dependent1 home:</strong>
  <%= @client.dependent1_home %>
</p>

<p>
  <strong>Dependent1 disabled:</strong>
  <%= @client.dependent1_disabled %>
</p>

<p>
  <strong>Dependent1 student:</strong>
  <%= @client.dependent1_student %>
</p>

<p>
  <strong>Dependent2 name:</strong>
  <%= @client.dependent2_name %>
</p>

<p>
  <strong>Dependent2 born on:</strong>
  <%= @client.dependent2_born_on %>
</p>

<p>
  <strong>Dependent2 social:</strong>
  <%= @client.dependent2_social %>
</p>

<p>
  <strong>Dependent2 relationship:</strong>
  <%= @client.dependent2_relationship %>
</p>

<p>
  <strong>Dependent2 home:</strong>
  <%= @client.dependent2_home %>
</p>

<p>
  <strong>Dependent2 disabled:</strong>
  <%= @client.dependent2_disabled %>
</p>

<p>
  <strong>Dependent2 student:</strong>
  <%= @client.dependent2_student %>
</p>

<p>
  <strong>Dependent3 name:</strong>
  <%= @client.dependent3_name %>
</p>

<p>
  <strong>Dependent3 born on:</strong>
  <%= @client.dependent3_born_on %>
</p>

<p>
  <strong>Dependent3 social:</strong>
  <%= @client.dependent3_social %>
</p>

<p>
  <strong>Dependent3 relationship:</strong>
  <%= @client.dependent3_relationship %>
</p>

<p>
  <strong>Dependent3 home:</strong>
  <%= @client.dependent3_home %>
</p>

<p>
  <strong>Dependent3 disabled:</strong>
  <%= @client.dependent3_disabled %>
</p>

<p>
  <strong>Dependent3 student:</strong>
  <%= @client.dependent3_student %>
</p>

<p>
  <strong>Dependent4 name:</strong>
  <%= @client.dependent4_name %>
</p>

<p>
  <strong>Dependent4 born on:</strong>
  <%= @client.dependent4_born_on %>
</p>

<p>
  <strong>Dependent4 social:</strong>
  <%= @client.dependent4_social %>
</p>

<p>
  <strong>Dependent4 relationship:</strong>
  <%= @client.dependent4_relationship %>
</p>

<p>
  <strong>Dependent4 home:</strong>
  <%= @client.dependent4_home %>
</p>

<p>
  <strong>Dependent4 disabled:</strong>
  <%= @client.dependent4_disabled %>
</p>

<p>
  <strong>Dependent4 student:</strong>
  <%= @client.dependent4_student %>
</p>

<p>
  <strong>Dependent5 name:</strong>
  <%= @client.dependent5_name %>
</p>

<p>
  <strong>Dependent5 born on:</strong>
  <%= @client.dependent5_born_on %>
</p>

<p>
  <strong>Dependent5 social:</strong>
  <%= @client.dependent5_social %>
</p>

<p>
  <strong>Dependent5 relationship:</strong>
  <%= @client.dependent5_relationship %>
</p>

<p>
  <strong>Dependent5 home:</strong>
  <%= @client.dependent5_home %>
</p>

<p>
  <strong>Dependent5 disabled:</strong>
  <%= @client.dependent5_disabled %>
</p>

<p>
  <strong>Dependent5 student:</strong>
  <%= @client.dependent5_student %>
</p>

<p>
  <strong>Dependent1 support:</strong>
  <%= @client.dependent1_support %>
</p>

<p>
  <strong>Dependent2 support:</strong>
  <%= @client.dependent2_support %>
</p>

<p>
  <strong>Dependent3 support:</strong>
  <%= @client.dependent3_support %>
</p>

<p>
  <strong>Dependent4 support:</strong>
  <%= @client.dependent4_support %>
</p>

<p>
  <strong>Dependent5 support:</strong>
  <%= @client.dependent5_support %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
