<% if !@taxpayer.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @taxpayer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @taxpayer, html: { multipart: true } do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
