<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prospect.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @prospect.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @prospect.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @prospect.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @prospect.message %>
</p>

<%= link_to 'Edit', edit_prospect_path(@prospect) %> |
<%= link_to 'About Us', prospects_path %>
