    <div class="col-md-6">
        <p><b><%= t('navigator.index.question_one') %></b></p>
        <p><%= t('navigator.index.answer_one') %></p>
        <p><b><%= t('navigator.index.question_two') %></b></p>
        <p><%= t('navigator.index.answer_two') %></p>
        <p><b><%= t('navigator.index.question_three') %></b></p>
        <p><%= t('navigator.index.answer_three') %></p>

    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </div>
